<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
    The <a href="#">VegaTech Tele App</a>
    is a project to build a small website
    to post reviews and write about programming.
    Among programming languages are C++, Ruby,
    and Python.
</p>

