<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
	Contact VegaTech website about Tele App at the
	<a href="#">contact page</a>. For more information
	please subscribe at TeleApp site feed.
</p>