<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
  Get help on VegaTech Tele App at the
  <a href="#">Tele App website help page</a>
  . The help page on this site is still
  under construction. To get instant help
  on Tele App application subscribe at
  <a href="http://realcomment.heroku.com">VegaTech Tele App
  </a> feed.
</p>
