<% provide(:title, 'Home') %>
<h1>Tele App</h1>
<p>
  This is the home page for
  <a href="#">VegaTech Tele App</a>
  web application. At the moment this site
  is still in development and will soon
  be online.
</p>

